.toggl {
  background-color: #F3F3D1;
}

.toggl .stat {
  display: inline-block;
  margin-left: 30px;
  color: #505050;
}

.toggl .stat b {
  font-weight: bold;
}

.toggl .button {
  border: 1px solid #FFF;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  /*padding-top: 1px;*/
  width: 47px;
  height: 20px;
  border-radius: 3px;
  float: right;
  margin: 2px 10px 0 0;
}

.toggl .button:after {
  content: '';
  float: left;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  pointer-events: none;
}

.toggl .button.stop {
  background-color: #A71F39;
  border-color: #950828;
  color: #EEE;
  margin: 3px 2px 0 0 !important;
}

.toggl .button.stop:hover {
  background-color: #950828;
  border-color: #82001B;
}


.toggl .button.start {
  background-color: #629200;
  border-color: #4E8200;
  color: #EEE;
  margin: 3px 2px 0 0 !important;
}

.toggl .button.start:hover {
  background-color: #4E8200;
  border-color: #3C7100;
}

.toggl .button.continue {
  background-color: #F39300;
  border-color: #F08000;
  color: #EEE;
  margin: 3px 2px 0 0 !important;
  width: 60px;
}

.toggl .button.continue:hover {
  background-color: #F08000;
  border-color: #EC6B00;
}

.toggl .button.time {
  background-color: transparent;
  border-color: #ADB0B7;
  margin: 3px 4px 0 0 !important;
  font-weight: normal;
  display: inline-block;
}

.story .preview.toggl-active {
  background-color: #FFFF99 !important;
  border-top: 1px solid #FFA  !important;
}

.story.release .preview.toggl-active {
  border-bottom: 1px solid #DDD !important;
}

.story  .preview.toggl-active .name {
  color: #000 !important;
}

.label.toggl-stat {
  color: #9B150B !important;
}